In [33]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
sns.set()
pd.options.display.max_rows = 100

df = pd.read_csv('CR_FC_PREP_0522.csv', converters={'PARTY_ID': str, 'COM_ID': str})

df.head()
df.info()
print(f'Dataset size: {df.shape}')

,POD,COM_ID,CSL_ID,CNTR_ID,ENCODED_TERM,COST_TERM,POD_ID,ETD_POL_D,PARTY_ID,PARTY_ID_EN,PARTY_NAME,POD_ID_EN,ETA_ETD_NO,CNTR_SIZE,ENCODED_TYPE,CNTR_TYPE,RATE
0,2005-07-15,010,ECS01050600224,CTNR010050700354,1,FC,ROTTERDAM,NLRTM,01008827,1008827,YANG MING (SINGAPORE) PTE. LTD.,3241651053,20050715,40,4,HC NOR,1710
1,2005-07-16,010,ECS01050600325,CTNR010050700379,1,FC,BUSAN,KRPUS,01001867,1001867,DONGSUE CONSOLIDATION COMPANY LTD,2904901796,20050716,20,2,GP,862
2,2005-07-17,010,ECS010050700025,CTNR010050700537,1,FC,HOCHIMINH CITY ( TAN CANG ),VNSGN,01004649,1004649,M & P INTERNATIONAL CO LTD-HO CHI MINH,2072622400,20050717,40,1,HC,315
3,2005-07-18,010,ECS01050600497,CTNR010050700510,1,FC,"MANZANILLO , MEXICO",MXZLO,01008144,1008144,TRANSLOGISTICS SA DE CV,2460062351,20050718,40,2,GP,3300
4,2005-07-19,010,ECS01050600140,CTNR010050700496,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050719,40,1,HC,850

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6282 entries, 0 to 6281
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   POD           6282 non-null   object
 1   COM_ID        6282 non-null   object
 2   CSL_ID        6282 non-null   object
 3   CNTR_ID       6282 non-null   object
 4   ENCODED_TERM  6282 non-null   int64
 5   COST_TERM     6282 non-null   object
 6   POD_ID        6282 non-null   object
 7   ETD_POL_D     6282 non-null   object
 8   PARTY_ID      6282 non-null   object
 9   PARTY_ID_EN   6282 non-null   int64
 10  PARTY_NAME    6282 non-null   object
 11  POD_ID_EN     6282 non-null   int64
 12  ETA_ETD_NO    6282 non-null   int64
 13  CNTR_SIZE     6282 non-null   int64
 14  ENCODED_TYPE  6282 non-null   int64
 15  CNTR_TYPE     6282 non-null   object
 16  RATE          6282 non-null   int64
dtypes: int64(7), object(10)
memory usage: 834.5+ KB
Dataset size: (6282, 17)

In [34]:
# View which is the most popular port using numpy
port_id, port_count = np.unique(df["POD_ID"], return_counts=True)
count_sort_ind = np.argsort(-port_count)
print(list(zip(port_id[count_sort_ind], port_count[count_sort_ind])))
print(len(port_id))

[('AUCKLAND', 304), ('MANILA (NORTH HARBOUR)', 214), ('MELBOURNE', 192), ('BUSAN', 190), ('SYDNEY', 174), ('PORT LOUIS', 145), ('FREMANTLE', 142), ('BANGKOK', 130), ('LAEM CHABANG', 127), ('DUBAI (JEBEL ALI)', 126), ('CAT LAI (HO CHI MINH)', 119), ('BRISBANE', 119), ('LYTTELTON', 110), ('HOCHIMINH CAT LAI,VIETNAM', 104), ('FELIXSTOWE', 95), ('PIRAEUS', 93), ('BARCELONA', 88), ('CEBU', 88), ('PENANG', 84), ('ADELAIDE', 84), ('LIMASSOL', 84), ('PASIR GUDANG', 81), ('MANZANILLO , MEXICO', 81), ('LE HAVRE', 80), ('VALPARAISO', 77), ('BEIRUT', 77), ('NHAVA SHEVA', 76), ('HAIPHONG', 75), ('COLOMBO', 72), ('NEW YORK', 61), ('MOMBASA', 61), ('MADRAS/CHENNAI', 61), ('SEMARANG', 59), ('KARACHI', 57), ('HONG KONG', 55), ('KOPER', 53), ('MARSEILLE', 53), ('TOKYO', 52), ('GDYNIA', 52), ('ISTANBUL(HAYDARPASA)', 52), ('DURBAN', 51), ('CALLAO', 51), ('HELSINKI', 50), ('DUBLIN', 47), ('YANGON (AWT)', 46), ('PRAGUE', 46), ('PORT KLANG (NORTH PORT)', 45), ('HAMBURG', 45), ('VALENCIA', 42), ('FOS SUR MER', 41), ('LATKRABANG', 39), ('LOS ANGELES (US)', 39), ('AQABA', 36), ('CASABLANCA', 36), ('SIHANOUKVILLE', 35), ('LOS ANGELES', 35), ('BEIRUT FREE ZONE', 34), ('NINGBO', 33), ('OSLO', 33), ('THESSALONIKI', 32), ('ASHDOD', 32), ('ROTTERDAM', 30), ('MANZANILLO, MEXICO', 30), ('OSAKA', 30), ('PORT KLANG', 30), ('ICD BANGALORE', 30), ('CAPETOWN', 29), ('ALEXANDRIA(OLD PORT)', 29), ('BUENOS AIRES', 28), ('CALCUTTA', 28), ('GOTHENBURG', 28), ('MONTEVIDEO', 28), ('MARSAXLOKK( MALTA )', 27), ('PRAGUE / PRAHA', 27), ('GENOA', 27), ('NAGOYA', 27), ('POTI', 26), ('SURABAYA', 26), ('SUVA', 25), ('BELAWAN', 25), ('VARNA ( BULGARIA )', 25), ('LISBOA', 25), ('MANILA (SOUTH HARBOUR)', 24), ('COCHIN', 23), ('LEIXOES', 23), ('CONSTANTA CFS', 23), ('BANGKOK ( TPT )', 21), ('HOCHIMINH ( CAT LAI )', 21), ('ALEXANDRIA (OLD PORT)', 19), ('IZMIR', 19), ('DANANG', 19), ('ICD PATPARGANJ', 19), ('PORT ELIZABETH', 18), ('YOKOHAMA', 17), ('YANGON (AWPT)', 17), ('COLON FREE ZONE', 17), ('HAMAD PORT', 17), ('AARHUS', 16), ('NEW DELHI (VIA NHAVA SHEVA)', 16), ('KOBE', 16), ('PORT SAID', 15), ('ISTANBUL(AMBARLI)-MARPORT', 15), ('CONSTANTA', 14), ('CAPE TOWN', 14), ('FREDERICIA / AARHUS', 14), ('ODESSA', 14), ('KLAIPEDA', 13), ('MIAMI', 13), ('HO CHI MINH', 13), ('PORT SAID (WEST)', 12), ('JAKARTA', 12), ('XINGANG', 12), ('MERSIN', 12), ('LAUTOKA', 12), ('POINTE DES GALETS/REUNION', 12), ('VANCOUVER', 11), ('ISTANBUL(AMBARLI)-KUMPORT', 11), ('FREMANTLE (PERTH)', 11), ('BUENAVENTURA(COLOMBIA)', 10), ('ADELAIDE(AU)', 10), ('BUDAPEST', 9), ('SYDNEY(AU)', 9), ('ANTWERP', 9), ('CAT LAI PORT', 8), ('XIAMEN', 8), ('BRATISLAVA', 8), ('TAMATAVE (TOMASINA)', 8), ('TAN CANG (NEW PORT)', 8), ('FOS SUR MER-MARSEILLE', 7), ('JOHANNESBURG', 7), ('CHENNAI', 6), ('NEW DELHI', 6), ('MUMBAI', 6), ('TALLINN', 6), ('ISTANBUL (HAYDARPASA)', 6), ('ALGECIRAS', 6), ('MADRAS', 6), ('KARACHI (KICT)', 6), ('TAMATAVE (TOAMASINA)', 5), ('ISTANBUL/MARPORT (AMBARLI)', 5), ('COPENHAGEN', 5), ('KOLKATA', 4), ('DAR ES SALAAM(TANZANIA)', 4), ('NHAVA SHEVA ( JNPT )', 4), ('ISTANBUL(AMBARLI)', 4), ('MALTA (FREE PORT)', 4), ('PORTO (LEIXOES)', 4), ('CONSTANZA', 3), ('RIJEKA', 3), ('ISTANBUL/KUMPORT (AMBARLI)', 3), ('SINES', 2), ('KUMPORT', 2), ('LAGOS', 2), ('ROSARIO', 2), ('RIO DE JANEIRO', 2), ('ALEXANDRIA (EL DEKHELA PORT)', 2), ('PORT KELANG', 2), ('BANGKOK (TST)', 2), ('NHAVA SHEVA, INDIA', 2), ('HOCHIMINH CITY ( TAN CANG )', 2), ('YANGON (BSW)', 2), ('ALIAGA', 1), ('CAT LAI (HOCHIMINH)', 1), ('HAYDARPASA', 1), ('ILYCHEVSK', 1), ('SINES (PORTUGAL)', 1), ('SHANGHAI', 1), ('LAT KRABANG', 1), ('MANILA(SOUTH HARBOUR)', 1), ('POINTE DES GALETS', 1), ('PORT TANGIER MEDITERRANEE (TANGIER PORT)', 1), ('QINGDAO', 1), ('TRIPOLI', 1), ('(CONSTANZA)', 1)]
174

<p>From the above, AUCKLAND are the biggest export port from Singapore based on FC Cost Term</p>

In [35]:
# Working with Auckland
df_largest_port = df[df['POD_ID'] == 'AUCKLAND'].reset_index(drop=True)
df_largest_port.head()
df_largest_port.info()

,POD,COM_ID,CSL_ID,CNTR_ID,ENCODED_TERM,COST_TERM,POD_ID,ETD_POL_D,PARTY_ID,PARTY_ID_EN,PARTY_NAME,POD_ID_EN,ETA_ETD_NO,CNTR_SIZE,ENCODED_TYPE,CNTR_TYPE,RATE
0,2005-07-19,010,ECS01050600140,CTNR010050700496,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050719,40,1,HC,850
1,2005-07-29,010,ECS01050600042,CTNR010050700971,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050729,40,1,HC,2600
2,2005-08-02,010,ECS010050700463,CTNR010050701192,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050802,40,1,HC,1325
3,2005-08-23,010,ECS010050700466,CTNR010050800991,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050823,40,1,HC,850
4,2005-09-02,010,ECS010050800148,CTNR010050801520,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050902,40,1,HC,1870

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   POD           304 non-null    object
 1   COM_ID        304 non-null    object
 2   CSL_ID        304 non-null    object
 3   CNTR_ID       304 non-null    object
 4   ENCODED_TERM  304 non-null    int64
 5   COST_TERM     304 non-null    object
 6   POD_ID        304 non-null    object
 7   ETD_POL_D     304 non-null    object
 8   PARTY_ID      304 non-null    object
 9   PARTY_ID_EN   304 non-null    int64
 10  PARTY_NAME    304 non-null    object
 11  POD_ID_EN     304 non-null    int64
 12  ETA_ETD_NO    304 non-null    int64
 13  CNTR_SIZE     304 non-null    int64
 14  ENCODED_TYPE  304 non-null    int64
 15  CNTR_TYPE     304 non-null    object
 16  RATE          304 non-null    int64
dtypes: int64(7), object(10)
memory usage: 40.5+ KB

In [36]:
# View which is the most popular container size using numpy
port_size, port_size_count = np.unique(df_largest_port["CNTR_SIZE"], return_counts=True)
count_sort_ind = np.argsort(-port_size_count)
print(list(zip(port_size[count_sort_ind], port_size_count[count_sort_ind])))
print(len(port_size))

[(40, 302), (20, 2)]
2

<p>From the filter above, container exported are mostly size 40 and exported container sizes to Auckland is only size 40 and size 20.</p>

In [37]:
# Working with container size 40
df_40 = df_largest_port[df_largest_port['CNTR_SIZE'] == 40].reset_index(drop=True)
df_40.head()
df_40.info()

,POD,COM_ID,CSL_ID,CNTR_ID,ENCODED_TERM,COST_TERM,POD_ID,ETD_POL_D,PARTY_ID,PARTY_ID_EN,PARTY_NAME,POD_ID_EN,ETA_ETD_NO,CNTR_SIZE,ENCODED_TYPE,CNTR_TYPE,RATE
0,2005-07-19,010,ECS01050600140,CTNR010050700496,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050719,40,1,HC,850
1,2005-07-29,010,ECS01050600042,CTNR010050700971,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050729,40,1,HC,2600
2,2005-08-02,010,ECS010050700463,CTNR010050701192,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050802,40,1,HC,1325
3,2005-08-23,010,ECS010050700466,CTNR010050800991,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050823,40,1,HC,850
4,2005-09-02,010,ECS010050800148,CTNR010050801520,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050902,40,1,HC,1870

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   POD           302 non-null    object
 1   COM_ID        302 non-null    object
 2   CSL_ID        302 non-null    object
 3   CNTR_ID       302 non-null    object
 4   ENCODED_TERM  302 non-null    int64
 5   COST_TERM     302 non-null    object
 6   POD_ID        302 non-null    object
 7   ETD_POL_D     302 non-null    object
 8   PARTY_ID      302 non-null    object
 9   PARTY_ID_EN   302 non-null    int64
 10  PARTY_NAME    302 non-null    object
 11  POD_ID_EN     302 non-null    int64
 12  ETA_ETD_NO    302 non-null    int64
 13  CNTR_SIZE     302 non-null    int64
 14  ENCODED_TYPE  302 non-null    int64
 15  CNTR_TYPE     302 non-null    object
 16  RATE          302 non-null    int64
dtypes: int64(7), object(10)
memory usage: 40.2+ KB

In [38]:
# View which is the most popular container type using numpy
port_id, port_type_count = np.unique(df_40["CNTR_TYPE"], return_counts=True)
count_sort_ind = np.argsort(-port_type_count)
print(list(zip(port_id[count_sort_ind], port_type_count[count_sort_ind])))
print(len(port_id))

[('HC', 188), ('HC NOR', 114)]
2

<p>For the filter above, we can see that for Auckland, container size 40, consist of container type HC and HC NOR. HC is has the highest count for container type. </p>

In [39]:
# Working with container type HC
df_hc = df_40[df_40['CNTR_TYPE'] == 'HC'].reset_index(drop=True)
df_hc.head()
df_hc.info()

,POD,COM_ID,CSL_ID,CNTR_ID,ENCODED_TERM,COST_TERM,POD_ID,ETD_POL_D,PARTY_ID,PARTY_ID_EN,PARTY_NAME,POD_ID_EN,ETA_ETD_NO,CNTR_SIZE,ENCODED_TYPE,CNTR_TYPE,RATE
0,2005-07-19,010,ECS01050600140,CTNR010050700496,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050719,40,1,HC,850
1,2005-07-29,010,ECS01050600042,CTNR010050700971,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050729,40,1,HC,2600
2,2005-08-02,010,ECS010050700463,CTNR010050701192,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050802,40,1,HC,1325
3,2005-08-23,010,ECS010050700466,CTNR010050800991,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050823,40,1,HC,850
4,2005-09-02,010,ECS010050800148,CTNR010050801520,1,FC,AUCKLAND,NZAKL,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,2397847664,20050902,40,1,HC,1870

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   POD           188 non-null    object
 1   COM_ID        188 non-null    object
 2   CSL_ID        188 non-null    object
 3   CNTR_ID       188 non-null    object
 4   ENCODED_TERM  188 non-null    int64
 5   COST_TERM     188 non-null    object
 6   POD_ID        188 non-null    object
 7   ETD_POL_D     188 non-null    object
 8   PARTY_ID      188 non-null    object
 9   PARTY_ID_EN   188 non-null    int64
 10  PARTY_NAME    188 non-null    object
 11  POD_ID_EN     188 non-null    int64
 12  ETA_ETD_NO    188 non-null    int64
 13  CNTR_SIZE     188 non-null    int64
 14  ENCODED_TYPE  188 non-null    int64
 15  CNTR_TYPE     188 non-null    object
 16  RATE          188 non-null    int64
dtypes: int64(7), object(10)
memory usage: 25.1+ KB

In [40]:
# View which is the most used shipping vendor using numpy
vendor_id, vendor_count = np.unique(df_hc["PARTY_NAME"], return_counts=True)
count_sort_ind = np.argsort(-vendor_count)
print(list(zip(vendor_id[count_sort_ind], vendor_count[count_sort_ind])))
print(len(vendor_id))

[('MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND', 188)]
1

<p>From the filter above we can observe that exports for Auckland, container size 40 and type HC, the company mostly uses 'MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND' quotation for all their exports.</p>
<p>The filted dataframe only consist of 1 vendor. Hence, we do not need to filter anymore and proceed with performing modeling.</p>

<h4>As we are trying to perform a cost rate forecast from shipping vendors. These prices are quoted based on inflation, operating cost and rising petrol cost. Hence, it is rather similar to stocks as these are the factors which also affect stock price. Therefore, it is similar, we can try and use algorithms that are used to forecast stocks based on time.</h4>
<p>There are various machine learning algorithms that can be used to forecast stocks, including:</p>

<ol>
    <li>Linear Regression: This algorithm tries to identify a linear relationship between the historical stock prices and other variables, such as trading volume, market indices, or other economic indicators.</li>
    <li>Decision Trees: Decision trees can be used to create a model that predicts future stock prices based on the current price and other variables such as trading volume, earnings reports, and news sentiment.</li>
    <li>Random Forest: Random Forest is an ensemble method that combines multiple decision trees to improve the accuracy of the stock price prediction model.</li>
    <li>Support Vector Machines (SVM): SVM is a supervised learning algorithm that can be used for classification or regression analysis. In the context of stock price prediction, it can help identify patterns in the historical data and make predictions based on those patterns.</li>
    <li>Neural Networks: Neural networks are a set of algorithms that are designed to recognize patterns. They can be used to predict stock prices based on past performance and other variables.</li>
</ol>











It is worth noting that predicting stock prices is a challenging task and no single algorithm can guarantee accurate predictions. The accuracy of the predictions depends on the quality of the data and the algorithm used. Additionally, stock prices are influenced by many factors, including political events, global economic trends, and company-specific news, which can be difficult to predict accurately.