In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
sns.set()
pd.options.display.max_rows = 100


df = pd.read_csv('CR_FC_PREP_0522.csv', converters={'PARTY_ID': str, 'COM_ID': str})
df.head()
df.info()
print(f'Dataset size: {df.shape}')

,Unnamed: 0,POD,RATE,COM_ID,PARTY_ID,PARTY_ID_EN,PARTY_NAME,CSL_ID,ETA_ETD_NO,ETD_POL_D,POD_ID,CNTR_ID,CNTR_SIZE,CNTR_TYPE,ENCODED_TYPE,POD_ID_EN
0,0,2005-07-15,1710,010,01008827,1008827,YANG MING (SINGAPORE) PTE. LTD.,ECS01050600224,20050715,NLRTM,ROTTERDAM,CTNR010050700354,40,HC NOR,4,3.241651e+09
1,1,2005-07-16,862,010,01001867,1001867,DONGSUE CONSOLIDATION COMPANY LTD,ECS01050600325,20050716,KRPUS,BUSAN,CTNR010050700379,20,GP,2,2.904902e+09
2,2,2005-07-17,315,010,01004649,1004649,M & P INTERNATIONAL CO LTD-HO CHI MINH,ECS010050700025,20050717,VNSGN,HOCHIMINH CITY ( TAN CANG ),CTNR010050700537,40,HC,1,2.072622e+09
3,3,2005-07-18,3300,010,01008144,1008144,TRANSLOGISTICS SA DE CV,ECS01050600497,20050718,MXZLO,"MANZANILLO , MEXICO",CTNR010050700510,40,GP,2,2.460062e+09
4,4,2005-07-19,850,010,01005136,1005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,ECS01050600140,20050719,NZAKL,AUCKLAND,CTNR010050700496,40,HC,1,2.397848e+09

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6282 entries, 0 to 6281
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6282 non-null   int64
 1   POD           6282 non-null   object
 2   RATE          6282 non-null   int64
 3   COM_ID        6282 non-null   object
 4   PARTY_ID      6282 non-null   object
 5   PARTY_ID_EN   6282 non-null   int64
 6   PARTY_NAME    6282 non-null   object
 7   CSL_ID        6282 non-null   object
 8   ETA_ETD_NO    6282 non-null   int64
 9   ETD_POL_D     6282 non-null   object
 10  POD_ID        6282 non-null   object
 11  CNTR_ID       6282 non-null   object
 12  CNTR_SIZE     6282 non-null   int64
 13  CNTR_TYPE     6282 non-null   object
 14  ENCODED_TYPE  6282 non-null   int64
 15  POD_ID_EN     6282 non-null   float64
dtypes: float64(1), int64(6), object(9)
memory usage: 785.4+ KB
Dataset size: (6282, 16)

In [6]:
# View which is the most popular port using numpy
port_id, port_count = np.unique(df["POD_ID"], return_counts=True)
count_sort_ind = np.argsort(-port_count)
print(list(zip(port_id[count_sort_ind], port_count[count_sort_ind])))
print(len(port_id))

[('AUCKLAND', 304), ('MANILA (NORTH HARBOUR)', 214), ('MELBOURNE', 192), ('BUSAN', 190), ('SYDNEY', 174), ('PORT LOUIS', 145), ('FREMANTLE', 142), ('BANGKOK', 130), ('LAEM CHABANG', 127), ('DUBAI (JEBEL ALI)', 126), ('CAT LAI (HO CHI MINH)', 119), ('BRISBANE', 119), ('LYTTELTON', 110), ('HOCHIMINH CAT LAI,VIETNAM', 104), ('FELIXSTOWE', 95), ('PIRAEUS', 93), ('BARCELONA', 88), ('CEBU', 88), ('PENANG', 84), ('ADELAIDE', 84), ('LIMASSOL', 84), ('PASIR GUDANG', 81), ('MANZANILLO , MEXICO', 81), ('LE HAVRE', 80), ('VALPARAISO', 77), ('BEIRUT', 77), ('NHAVA SHEVA', 76), ('HAIPHONG', 75), ('COLOMBO', 72), ('NEW YORK', 61), ('MOMBASA', 61), ('MADRAS/CHENNAI', 61), ('SEMARANG', 59), ('KARACHI', 57), ('HONG KONG', 55), ('KOPER', 53), ('MARSEILLE', 53), ('TOKYO', 52), ('GDYNIA', 52), ('ISTANBUL(HAYDARPASA)', 52), ('DURBAN', 51), ('CALLAO', 51), ('HELSINKI', 50), ('DUBLIN', 47), ('YANGON (AWT)', 46), ('PRAGUE', 46), ('PORT KLANG (NORTH PORT)', 45), ('HAMBURG', 45), ('VALENCIA', 42), ('FOS SUR MER', 41), ('LATKRABANG', 39), ('LOS ANGELES (US)', 39), ('AQABA', 36), ('CASABLANCA', 36), ('SIHANOUKVILLE', 35), ('LOS ANGELES', 35), ('BEIRUT FREE ZONE', 34), ('NINGBO', 33), ('OSLO', 33), ('THESSALONIKI', 32), ('ASHDOD', 32), ('ROTTERDAM', 30), ('MANZANILLO, MEXICO', 30), ('OSAKA', 30), ('PORT KLANG', 30), ('ICD BANGALORE', 30), ('CAPETOWN', 29), ('ALEXANDRIA(OLD PORT)', 29), ('BUENOS AIRES', 28), ('CALCUTTA', 28), ('GOTHENBURG', 28), ('MONTEVIDEO', 28), ('MARSAXLOKK( MALTA )', 27), ('PRAGUE / PRAHA', 27), ('GENOA', 27), ('NAGOYA', 27), ('POTI', 26), ('SURABAYA', 26), ('SUVA', 25), ('BELAWAN', 25), ('VARNA ( BULGARIA )', 25), ('LISBOA', 25), ('MANILA (SOUTH HARBOUR)', 24), ('COCHIN', 23), ('LEIXOES', 23), ('CONSTANTA CFS', 23), ('BANGKOK ( TPT )', 21), ('HOCHIMINH ( CAT LAI )', 21), ('ALEXANDRIA (OLD PORT)', 19), ('IZMIR', 19), ('DANANG', 19), ('ICD PATPARGANJ', 19), ('PORT ELIZABETH', 18), ('YOKOHAMA', 17), ('YANGON (AWPT)', 17), ('COLON FREE ZONE', 17), ('HAMAD PORT', 17), ('AARHUS', 16), ('NEW DELHI (VIA NHAVA SHEVA)', 16), ('KOBE', 16), ('PORT SAID', 15), ('ISTANBUL(AMBARLI)-MARPORT', 15), ('CONSTANTA', 14), ('CAPE TOWN', 14), ('FREDERICIA / AARHUS', 14), ('ODESSA', 14), ('KLAIPEDA', 13), ('MIAMI', 13), ('HO CHI MINH', 13), ('PORT SAID (WEST)', 12), ('JAKARTA', 12), ('XINGANG', 12), ('MERSIN', 12), ('LAUTOKA', 12), ('POINTE DES GALETS/REUNION', 12), ('VANCOUVER', 11), ('ISTANBUL(AMBARLI)-KUMPORT', 11), ('FREMANTLE (PERTH)', 11), ('BUENAVENTURA(COLOMBIA)', 10), ('ADELAIDE(AU)', 10), ('BUDAPEST', 9), ('SYDNEY(AU)', 9), ('ANTWERP', 9), ('CAT LAI PORT', 8), ('XIAMEN', 8), ('BRATISLAVA', 8), ('TAMATAVE (TOMASINA)', 8), ('TAN CANG (NEW PORT)', 8), ('FOS SUR MER-MARSEILLE', 7), ('JOHANNESBURG', 7), ('CHENNAI', 6), ('NEW DELHI', 6), ('MUMBAI', 6), ('TALLINN', 6), ('ISTANBUL (HAYDARPASA)', 6), ('ALGECIRAS', 6), ('MADRAS', 6), ('KARACHI (KICT)', 6), ('TAMATAVE (TOAMASINA)', 5), ('ISTANBUL/MARPORT (AMBARLI)', 5), ('COPENHAGEN', 5), ('KOLKATA', 4), ('DAR ES SALAAM(TANZANIA)', 4), ('NHAVA SHEVA ( JNPT )', 4), ('ISTANBUL(AMBARLI)', 4), ('MALTA (FREE PORT)', 4), ('PORTO (LEIXOES)', 4), ('CONSTANZA', 3), ('RIJEKA', 3), ('ISTANBUL/KUMPORT (AMBARLI)', 3), ('SINES', 2), ('KUMPORT', 2), ('LAGOS', 2), ('ROSARIO', 2), ('RIO DE JANEIRO', 2), ('ALEXANDRIA (EL DEKHELA PORT)', 2), ('PORT KELANG', 2), ('BANGKOK (TST)', 2), ('NHAVA SHEVA, INDIA', 2), ('HOCHIMINH CITY ( TAN CANG )', 2), ('YANGON (BSW)', 2), ('ALIAGA', 1), ('CAT LAI (HOCHIMINH)', 1), ('HAYDARPASA', 1), ('ILYCHEVSK', 1), ('SINES (PORTUGAL)', 1), ('SHANGHAI', 1), ('LAT KRABANG', 1), ('MANILA(SOUTH HARBOUR)', 1), ('POINTE DES GALETS', 1), ('PORT TANGIER MEDITERRANEE (TANGIER PORT)', 1), ('QINGDAO', 1), ('TRIPOLI', 1), ('(CONSTANZA)', 1)]
174

<p>Auckland port is one of the biggest exports from Singapore</p>