In [39]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from prophet import Prophet
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error
from sklearn.preprocessing import MinMaxScaler
from IPython.core.interactiveshell import InteractiveShell
from datetime import timedelta
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
sns.set()
pd.options.display.max_rows = 100

df_before = pd.read_csv('CR_FC_PREP_0522.csv')
df_before['POD'] = pd.to_datetime(df_before['POD'])

df_before.head()
df_before.tail()
df_before.info()
print(f'Dataset size: {df_before.shape}')

# Y is the target
Y = df_before.pop('RATE') 
X = df_before

#normalise
sc = StandardScaler()
X = sc.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

         POD    RATE
0 2005-07-19  2200.0
1 2005-07-20  2250.0
2 2005-07-21  2300.0
3 2005-07-22  2280.0
4 2005-07-23  2260.0

            POD     RATE
6370 2022-12-27  4121.43
6371 2022-12-28  4142.86
6372 2022-12-29  4164.29
6373 2022-12-30  4185.71
6374 2022-12-31  4207.14

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6375 entries, 0 to 6374
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   POD     6375 non-null   datetime64[ns]
 1   RATE    6375 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 99.7 KB
Dataset size: (6375, 2)

In [40]:
# After 2023 data to compare accuracy of forecast
df_after = pd.read_csv('CR_FC_PREP_23.csv')
df_after['POD'] = pd.to_datetime(df_after['POD'])

# df_after.set_index('POD',inplace=True)

df_after.head()
df_after.tail()
df_after.info()
print(f'Dataset size: {df_after.shape}')


actual_X = df_after.drop("RATE", axis=1)
actual_y = df_after["RATE"]

         POD     RATE
0 2023-01-01  4228.57
1 2023-01-02  4250.00
2 2023-01-03  2800.00
3 2023-01-04  2800.00
4 2023-01-05  2800.00

          POD    RATE
47 2023-02-17  1500.0
48 2023-02-18  1500.0
49 2023-02-19  1500.0
50 2023-02-20  1500.0
51 2023-02-21  1500.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   POD     52 non-null     datetime64[ns]
 1   RATE    52 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 960.0 bytes
Dataset size: (52, 2)

In [41]:
def findRF(X_train, X_test, y_train, y_test):
    # Build the random forest model
    rf_model = RandomForestRegressor()
    rf_model.fit(X_train, y_train)

    # Predict the test data
    rf_y_pred = rf_model.predict(X_test)

    # Calculate the root mean squared error
    rmse = mean_squared_error(y_test, rf_y_pred, squared=False)
    
    # Calculate the R-squared value
    r2 = r2_score(y_test, rf_y_pred)

    # Calculate the accuracy score in percentage
    mean = y_test.mean()
    accuracy = (1 - rmse/mean) * 100

    print("Root Mean Squared Error:", round(rmse, 3))
    print("R-squared Value:", round(r2, 3))
    print("Accuracy Score:", round(accuracy, 2), "%")

    return rf_y_pred

In [42]:
def findDT(X_train, X_test, y_train, y_test):
    # Train the model
    model = DecisionTreeRegressor()
    model.fit(X_train, y_train)

    # Make predictions on test data
    dt_y_pred = model.predict(X_test)

    # Calculate mean squared error between actual and predicted values
    mse = mean_squared_error(y_test, dt_y_pred)

    # Calculate root mean squared error
    rmse = np.sqrt(mse)

    # Calculate R-squared value
    r2 = r2_score(y_test, dt_y_pred)

    # Calculate mean value of your actual data
    mean = np.mean(y_test)

    # Calculate accuracy of your model in percentage
    accuracy = (1 - rmse/mean) * 100

    print('Root Mean Squared Error:', round(rmse, 3))
    print('R-squared:', round(r2, 3))
    print(f"Accuracy: {accuracy:.2f}%")

    return dt_y_pred

In [ ]:
def findProphet(df_before):
    m = Prophet()
    m.fit(df)

In [43]:
def findACC(y_pred, actual_y):
    # Calculate the accuracy of the model using mean absolute error and R-squared
   mae = mean_absolute_error(y_pred, actual_y)
   r2 = r2_score(y_pred, actual_y)

   print(f"Mean absolute error: {mae:.4f}")
   print(f"R-squared value: {r2:.4f}")

In [44]:
n_periods = 52

# Random Forest
print("Random Forest Regressor")
rf_y_pred = findRF(X_train, X_test, y_train, y_test)[-n_periods:]
print(rf_y_pred)
print("\n")

# Decision Tree
print("Decision Tree Regressor:")
dt_y_pred = findRF(X_train, X_test, y_train, y_test)[-n_periods:]
print(dt_y_pred)
print("\n")

Random Forest Regressor
Root Mean Squared Error: 84.142
R-squared Value: 0.998
Accuracy Score: 94.85 %
[1346.7166 1674.9995  900.      405.68   1360.      996.8758 1141.3
 1146.2697  450.     1615.6     354.48   1700.      707.2333  745.48
  632.32    902.3788 2000.     2254.2005  400.     2200.     7789.235
 2001.6     344.2692 4362.7821  403.5313 1099.5295 1170.     2200.
  843.44   6800.     1647.9856  420.      396.0007  390.      663.25
 1197.     1250.8334 1300.     7569.4217 1364.54    400.     9391.425
  409.7402 2286.5702 1520.      475.     1014.5014 1401.4637 1163.4
 8362.205   900.     1639.3102]


Decision Tree Regressor:
Root Mean Squared Error: 85.183
R-squared Value: 0.998
Accuracy Score: 94.79 %
[1347.85   1594.7906  900.      405.76   1360.      990.6258 1144.1
 1136.6342  450.     1614.      353.96   1700.      704.65    760.26
  635.73    900.     2000.     2273.3342  400.     2200.     7814.48
 2001.6     343.1346 4340.4555  403.6311 1100.     1170.     2200.
  845.96   6800.     1647.4711  420.      383.6674  390.      731.1
 1194.5    1255.4167 1300.     7545.2219 1356.66    400.     9413.025
  409.8969 2292.3994 1520.      474.8854 1011.0012 1398.5498 1135.35
 8293.115   900.     1812.6037]

In [45]:
# Random Forest
print("Random forest regressor forecast vs actual cost rate results:")
findACC(rf_y_pred, actual_y)
print("\n")

# Decision Tree
print("Decision tree regressor forecast vs actual cost rate results:")
findACC(dt_y_pred, actual_y)
print("\n")

Random forest regressor forecast vs actual cost rate results:
Mean absolute error: 1764.0102
R-squared value: -0.2769


Decision tree regressor forecast vs actual cost rate results:
Mean absolute error: 1766.9799
R-squared value: -0.2797

In [46]:
# # Plot the forecast with current dataset
# plt.figure(figsize=(30, 8))
# plt.plot(df_bf_indexed)
# plt.plot(forecast_df, color='darkgreen')
# plt.title("Final Forecast of COST_RATE")
# plt.show()