In [3]:
import pmdarima as pm
import numpy as np
import pandas as pd

# Load the time series data into a pandas DataFrame
data = np.random.randint(0, 100, 100)
df = pd.DataFrame(data, columns=['value'])
df.head()
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import math  # for rounding up values
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from datetime import datetime  # for strptime
import datetime
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
from seaborn import heatmap
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
sns.set()
pd.options.display.max_rows = 100

df = pd.read_csv('CR_COST_FCFP.csv', converters={'PARTY_ID': str, 'COM_ID': str, 'CNTR_SIZE': str})
df['POD'] = pd.to_datetime(df['POD'])
df.head(10)
df.info()
print(f'Dataset size: {df.shape}')

   value
0     63
1     82
2     21
3     60
4     52

,COM_ID,PARTY_ID,PARTY_NAME,CSL_ID,ETA_ETD_NO,ETD_POL_D,POD_ID,POD,CNTR_ID,CNTR_SIZE,CNTR_TYPE,COST_TERM,RATE
0,010,010003678,OY TAVATUR SHIPPING LTD,ECS010060100191,20060228,FIHEL,HELSINKI,2006-02-28,CTNR010060201232,20,GP,FC,675.0
1,010,010004286,"GLOBELINK KOREA CO., LTD",ECS010060100465,20060303,KRPUS,BUSAN,2006-03-03,CTNR010060300014,40,HC,FC,390.0
2,010,01005136,MONDIALE FREIGHT SERVICES LIMITED-AUCKLAND,ECS010060100321,20060227,NZAKL,AUCKLAND,2006-02-27,CTNR010060201198,40,HC NOR,FC,1615.0
3,010,01004906,MEDITERRANEAN SHIPPING COMPANY S.E.A (SINGAPOR...,ECS010060200592,20060303,LKCMB,COLOMBO,2006-03-03,CTNR010060300015,40,HC,FP,650.0
4,010,01008573,WAN HAI INTERNATIONAL PTE LTD,ECS010060200181,20060305,JPOSA,OSAKA,2006-03-05,CTNR010060300111,20,GP,FP,370.0
5,010,01005114,KMTC (SINGAPORE) PTE LTD,ECS010060200248,20060305,IDSUB,SURABAYA,2006-03-05,CTNR010060300075,20,GP,FP,120.0
6,010,01005114,KMTC (SINGAPORE) PTE LTD,ECS010060200262,20060306,INNSA,NHAVA SHEVA ( JNPT ),2006-03-06,CTNR010060300081,40,HC,FP,1100.0
7,010,01004690,MAERSK SINGAPORE PTE LTD,ECS010060100367,20060221,MXZLO,"MANZANILLO , MEXICO",2006-02-21,CTNR010060200515,40,HC NOR,FP,3500.0
8,010,01002775,GLOBELINK INTERNATIONAL PTY LTD-ADELAIDE,ECS010060200201,20060306,AUADL,ADELAIDE,2006-03-06,CTNR010060300119,40,HC,FC,700.0
9,010,01001088,CARGO LINES S.A.-LE HAVRE,ECS010060200146,20060307,FRMRS,MARSEILLE,2006-03-07,CTNR010060300185,20,GP,FC,675.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102496 entries, 0 to 102495
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   COM_ID      102496 non-null  object
 1   PARTY_ID    102496 non-null  object
 2   PARTY_NAME  102496 non-null  object
 3   CSL_ID      102496 non-null  object
 4   ETA_ETD_NO  102496 non-null  int64
 5   ETD_POL_D   102496 non-null  object
 6   POD_ID      102382 non-null  object
 7   POD         102496 non-null  datetime64[ns]
 8   CNTR_ID     102496 non-null  object
 9   CNTR_SIZE   102496 non-null  object
 10  CNTR_TYPE   102493 non-null  object
 11  COST_TERM   102496 non-null  object
 12  RATE        102496 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 10.2+ MB
Dataset size: (102496, 13)

In [4]:
from pandas_profiling import ProfileReport

profile = ProfileReport(df, title="COST_RATE Testing Study Report")

profile.to_file("eda_data_test.html")

profile.to_file("eda_titanic1.json")

c:\Users\it1\Documents\GitHub\CR-Analysis\cr_cost\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
C:\Users\it1\AppData\Local\Temp\ipykernel_20376\1220024094.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport
Summarize dataset:  70%|███████   | 14/20 [00:03<00:01,  5.09it/s, Calculate auto correlation]  c:\Users\it1\Documents\GitHub\CR-Analysis\cr_cost\lib\site-packages\multimethod\__init__.py:315: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  return func(*args, **kwargs)
c:\Users\it1\Documents\GitHub\CR-Analysis\cr_cost\lib\site-packages\scipy\stats\_stats_py.py:112: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "
Summarize dataset: 100%|██████████| 32/32 [00:10<00:00,  3.01it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.12s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.13s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 225.86it/s]
Render JSON: 100%|██████████| 1/1 [00:01<00:00,  1.04s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 17.01it/s]